<?xml version="1.0"?>
<robot name="minipock" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="namespace" default="minipock/"/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0.0"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>
  <xacro:property name="x" value="$(arg x)"/>
  <xacro:property name="y" value="$(arg y)"/>
  <xacro:property name="z" value="$(arg z)"/>

  <xacro:include filename="$(find minipock_description)/urdf/minipock_differential_base_v2.xacro"/>
  <xacro:minipock_base namespace="${namespace}" name="minipock" x="${x}" y="${y}" z="${z}"/>

  <!-- motor -->
  <xacro:include filename="$(find minipock_description)/urdf/motor_stepper_v2.xacro"/>
  <xacro:motor_stepper namespace="${namespace}" name="stepper_left" x="0.0" y="0.133" z="-0.086" R="0.0" P="0.0"
                      Y="0.0" side="1"/>
  <xacro:motor_stepper namespace="${namespace}" name="stepper_right" x="0.0" y="-0.133" z="-0.086" R="0.0" P="0.0"
                      Y="${-pi}" side="-1"/>
  <xacro:include filename="$(find minipock_description)/urdf/sensors_v2.xacro"/>
  <xacro:lds_01 namespace="${namespace}" name="lds_01" x="0.0" y="0.0" z="0.050" R="0.0" P="0.0" Y="${pi}"/>
  
  
  <gazebo>
    <plugin
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">
      <left_joint>stepper_left_wheel_joint</left_joint>
      <right_joint>stepper_right_wheel_joint</right_joint>
      <wheel_separation>0.335</wheel_separation>
      <wheel_radius>0.036</wheel_radius>
      <odom_publish_frequency>50</odom_publish_frequency>

      <topic>${namespace}cmd_vel</topic>
      <odom_topic>${namespace}odom</odom_topic>
      <child_frame_id>${namespace}base_footprint</child_frame_id>
      <frame_id>${namespace}odom</frame_id>
    </plugin>

    <plugin filename="libgz-sim-pose-publisher-system.so"
            name="gz::sim::systems::PosePublisher">
      <publish_link_pose>false</publish_link_pose>
      <publish_sensor_pose>true</publish_sensor_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_nested_model_pose>false</publish_nested_model_pose>
      <publish_model_pose>false</publish_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>false</static_publisher>
      <static_update_frequency>1</static_update_frequency>
    </plugin>

    <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
    </plugin>


  </gazebo>
</robot>
